@font-face {
    font-family: 'Taurus';
    src: url('fonts/TaurusNormal/TaurusNormal.eot');
    src: url('fonts/TaurusNormal/TaurusNormal.eot?#iefix') format('embedded-opentype'),
    url('fonts/TaurusNormal/TaurusNormal.woff2') format('woff2'),
    url('fonts/TaurusNormal/TaurusNormal.woff') format('woff'),
    url('fonts/TaurusNormal/TaurusNormal.ttf') format('truetype'),
    url('fonts/TaurusNormal/TaurusNormal.svg#TaurusNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Taurus';
    src: url('fonts/TaurusBold/TaurusBold.eot');
    src: url('fonts/TaurusBold/TaurusBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TaurusBold/TaurusBold.woff2') format('woff2'),
    url('fonts/TaurusBold/TaurusBold.woff') format('woff'),
    url('fonts/TaurusBold/TaurusBold.ttf') format('truetype'),
    url('fonts/TaurusBold/TaurusBold.svg#TaurusBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    color: #333333;
    font-family: 'Taurus', arial;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    font-size: 1.25rem;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.animaite{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.header-bg{
    background: url("/images/header_bg.png")  top center no-repeat;
    background-size: 100%;
    height: 9rem;
}
.logo{
    padding-top: 1rem;
}
.header-text{
    color: white;
    padding: 1.5rem;
}
.tel{
    float: right;
}
.tel a,.tel a:hover{
    color: white;
    text-decoration: none;
}
.address{
    font-size: 18px;
}
.title{
    font-size: 2.5rem;
}
.assort{
    margin: 1rem 0;
}
.assort-title{
    font-weight: bold;
}
.f_f-c{
    font-family: Calibri;
    font-size: 18px;
}
.images{
    display: flex;
    margin: 1rem 0 0 0;
}
.img{
    vert-align: middle;
}
.images img{
    -webkit-filter: drop-shadow(3px 5px 5px #000);
    filter: drop-shadow(3px 5px 5px #000);
}
.form-block{
    width: 100%;
    padding: 1rem;
    border: 3px solid #cb0100;
    border-radius: 1rem;
}
.form-title{
    font-size: 24px;
    font-weight: bold;
}
.form-text{
    font-size: 18px;
}
.btn {
    border-radius: 0.5rem;
    font-size: 22px;
    text-decoration: none;
    margin: 0.5rem 0;
    color: #fff;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.5rem;

}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0 1px 0 0;
}
.red {
    background: linear-gradient(to right, #850000,#cb0100);
    box-shadow: 0 5px 0 0 #630000;
}
.red:focus {
    background: linear-gradient(to right, #850000,#cb0100);
    box-shadow: 0 5px 0 0 #630000;
}
.red:hover {
    background-color: #630000;
}
.form-block input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 3px solid #cb0100;
    margin: 0.5rem 0;
    width: 100%;

}
.t_-20rem{
    top: -20.5rem;
}
.request{
    padding: 2.47rem 0;
}

.svg-container{
    text-align: center;
}
.tick {
    stroke-dasharray: 29px;
    stroke-dashoffset: 29px;
    animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
    animation-delay: .6s
}
.circle {
    fill-opacity: 0;
    stroke: #4CAF50;
    stroke-width: 16px;
    transform-origin: center;
    transform: scale(0);
    animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;
}
@keyframes grow {
    60% {
        transform: scale(.8);
        stroke-width: 4px;
        fill-opacity: 0;
    }
    100% {
        transform: scale(.9);
        stroke-width: 8px;
        fill-opacity: 1;
        fill: #4CAF50;
    }
}
@keyframes draw {
    100% { stroke-dashoffset: 0; }
}
.dost-link{
    font-size: 1rem;
}
.dost-link a{
    cursor: pointer;
    text-decoration: underline #333 !important;
}
.modal-body{
    font-size: 1rem;
}
.tr-com{
    display: flex;
}
.modal-content{
    border: 3px solid #cb0100;
}
@media screen and (max-width: 1200px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 575px){

}
@media screen and (max-width: 500px){

}
@media screen and (max-width: 460px){

}
@media screen and (max-width: 320px){

}

